.jumbotron {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    height: 550px;
}

#image-tag{
    width: 300px;
    height:300px;
}

#start-over{
    position: relative;
    top: 200px;
}
body{
    background-image: url(../images/background.jpg);
    background-size: cover;
    height: 100%;
    opacity: .95;
    overflow: hidden;
}